@use "./variables" as *;
@use "./object" as *;
@use "./resete" as *;
@use "./font" as *;
main.main__branch {
  .hero {
    .action{
      color: #417f56;
    }
    .titer > h4 {
      margin-top: 30px;
      margin-right: 120px;
      font-family: vazir-bold;
      font-size: 24px;
    }
    header {
      nav {
        width: 100%;
        height: 33px;
        @include flex(space-between, center);
        .shop {
          margin-right: 166px;
        }

        ul {
          width: 100%;
          height: 33px;
          @include flex(space-between, center);
          gap: 20px;
          li {
            @include flex(flex-start, center);

            a {
              font-family: vazir-bold;
              color: $gray;
              text-decoration: none;
            }
          }
        }
      }
      .slide {
        width: 100%;
        height: 336px;
        @include flex(center, center);
        flex-wrap: wrap;
        font-family: vazir-bold;
        background-image: url(../images/picture/Slider-branch.png);
        background-repeat: no-repeat;
        background-size: cover;
       
        h1 {
          width: 100%;
          color: $with;
          font-size: 40px;
          margin-top: 70px;
          @include flex(center, flex-start);
        }
        button {
          width: 180px;
          height: 40px;
          @extend %radius;
          color: $with;
          background-color: $green;
          z-index: 2;
          font-family: vazir-medium;
          font-size: 15px;
          border: none;
        }
      }
    }
    .card-list,
    .popular-content,
    .noniranian-content {
      width: 100%;
      height: 417px;
      @include flex(center, flex-start);
      gap: 10px;

      .card-two {
        width: 320px;
        height: 433px;
        border: 2px solid $gray;
        @extend %radius;
        @include flex(flex-start, center);
        flex-direction: column;

        img {
          width: 288px;
          height: 256px;
        }
        h4 {
          font-family: vazir-semibold;
          margin-top: 7px;
        }
        .card-content {
          width: 250px;
          height: 51px;
          font-family: vazir-regular;
          @include flex(space-between, flex-start);
          padding-top: 10px;

          .card-content__text {
            width: 113px;
            height: 49px;
            text-align: right;
            font-size: 8px;

            .card-content__text-one {
              width: 113px;
              height: 18px;
              color: $gray;
              font-size: 8px;
              margin-bottom: 7px;
            }
            .card-content__text-two {
              width: 78px;
              height: 42px;
              font-size: 10px;
            }
          }
          .card-content__price {
            width: 97px;
            height: 48px;
            font-family: vazir-regular;

            .card-content__price-one {
              width: 74px;
              height: 18px;
              font-size: 11px;
              margin-bottom: 7px;
              text-decoration-line: line-through;
              span {
                margin-right: 3px;
              }
            }
            .card-content__price-two {
              width: 94px;
              height: 29px;
              font-size: 15px;
            }
          }
        }
        button {
          width: 256px;
          height: 40px;
          background-color: $green;
          color: $with;
          border: none;
          font-family: vazir-medium;
          font-size: 16px;
          margin-top: 23.5px;
          @extend %radius;
        }
      }
    }
    .popular-list {
      width: 100%;
      height: 555px;
      background-color: $green;
      @include flex(flex-end, flex-start);
      flex-direction: column;
      margin-top: 100px;
      .titer-two {
        color: $with;
        font-family: vazir-bold;
        font-size: 24px;
        margin-bottom: 26px;
      }
      .popular-content,
      .noniranian-content {
        @include flex(space-between, center);
        gap: 14px;
        .card-two {
          background-color: #ffff;
          border: none;
        }
      }
    }
    .noniranian-list {
      width: 100%;
      height: 500px;
      @include flex(flex-end, flex-start);
      flex-direction: column;
      margin-top: 100px;
      .titer-three {
        font-family: vazir-bold;
        font-size: 24px;
        margin-bottom: 20px;
      }
      .but-menu {
        width: 184px;
        height: 40px;
        align-self: center;
        border: 2px solid $green;
        background-color: transparent;
        margin-top: 30px;
      }
    }
  }
  .content-branch {
    width: 100%;
    height: 500px;

    @include flex(flex-start, center);
    flex-direction: column;
    .titer-for {
      font-family: vazir-bold;
      font-size: 26px;
      margin-bottom: 12px;
    }
    .content-branch__address {
      width: 810px;
      height: 130px;
      border: 2px solid #417f56;
      @include flex(center, center);
      flex-direction: row;
      position: relative;
      background-color: #ffff;
      bottom: 30px;
      border-radius: 8px;

      div {
        width: 210px;
        height: 98px;
        @include flex(center, center);
        flex-direction: column;
      }
    }
  }
  .content-offers {
    @include flex(flex-start, center);
    flex-direction: column;
    margin-bottom: 20px;
    .titer-five {
      font-family: vazir-bold;
      font-size: 24px;
      margin-bottom: 20px;
    }
    .content-offres__one {
      @include flex(space-between, center);
      flex-direction: row;
      .card {
        width: 600px;
        height: 202px;
        margin-right: 30px;
        @include flex(center, center);
      }
    }
  }
  .footer-branch {
    width: 100%;
    @include flex(space-between, flex-start);
    height: 319px;

    background-image: url(../images/picture/Footer.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1px;
    ul {
      width: 184px;
      height: 192px;

      padding: 10px;

      h3 {
        margin-bottom: 5px;
        color: $with;
        font-family: vazir-bold;
        font-size: 20px;
      }
      li {
        margin-bottom: 13px;
        color: $gray;
        font-family: vazir-medium;
        font-size: 14px;
      }
    }
    .survey {
      width: 600px;
      height: 246px;

      .survey__text {
        color: $with;
        font-family: vazir-bold;
        font-size: 20px;
        margin-bottom: 3px;
      }
      .survey__form {
        width: 600px;
        height: 163px;

        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto auto;
        padding: 4px;

        gap: 7px;

        color: $gray;
        input{
          border: 2px solid $gray;
          border-radius: 5px;
          padding: 7px;
          background-color: transparent;
        }

        input:nth-child(1) {
          grid-row-start: 1;
          grid-row-end: 2;
          grid-column-start: 1;
          grid-column-end: 2;
        }
        input:nth-child(2) {
          grid-row-start: 2;
          grid-row-end: 3;
          grid-column-start: 1;
          grid-column-end: 2;
        }
        input:nth-child(3) {
          grid-row-start: 3;
          grid-row-end: 4;
          grid-column-start: 1;
          grid-column-end: 2;
        }
        input:nth-child(4) {
          grid-row-start: 1;
          grid-row-end: 4;
          grid-column-start: 2;
          grid-column-end: 3;
        }
      }
      .survey__button {
        width: 183px;
        height: 40px;
        border-radius: 4px;
        border: 2px solid $gray;
        color: $with;
        font-family: vazir-medium;
        font-size: 14px;
        margin-right: 68.4%;
        margin-top: 15px;
        text-align: center;
        padding-top: 5px;
      }
    }
  }
}
