@font-face {
     font-family: vazir-bold;
     src: url(../font/Vazirmatn-Bold.woff2);
}
@font-face {
     font-family: vazir-semibold;
     src: url(../font/Vazirmatn-SemiBold.woff2);
}
@font-face {
     font-family: vazir-medium;
     src: url(../font/Vazirmatn-Medium.woff2);
}
@font-face {
     font-family: vazir-thin;
     src: url(../font/Vazirmatn-Thin.woff2);
}
@font-face {
     font-family:vazir-regular;
     src: url(../font/Vazirmatn-Regular.woff2);
}