@use "./resete" as*;
@use "./font" as*;
@use "./object" as*;
@use"./variables"as*;
@use"./branch"as*;
body {
  font-family: vazir-medium;
  direction: rtl;
  main {
    .hero {
      header {
        nav {
          width: 100%;
          height: 33px;
          @include flex(space-between, center);
          .shop {
            margin-right: 166px;
          }

          ul {
            width: 100%;
            height: 33px;
            @include flex(space-between, center);
            gap: 20px;
            li {
              @include flex(flex-start, center);

              a {
                font-family: vazir-bold;
                color: $gray;
              }
            }
          }
        }
        .slide {
          width: 100%;
          height: 336px;
          @include flex(center, center);
          flex-wrap: wrap;
          font-family: vazir-bold;
          background-image: url(../images/picture/Slider.png);
          background-repeat: no-repeat;
          background-size: cover;
          h1 {
            width: 100%;
            color: $with;
            font-size: 40px;
            margin-top: 70px;
            @include flex(center, flex-start);
          }
          button {
            width: 180px;
            height: 40px;
            @extend %radius;
            color: $with;
            background-color: $green;
            z-index: 2;
            font-family: vazir-medium;
            font-size: 15px;
            border: none;
          }
        }
      }
      h3 {
        width: 100%;
        height: fit-content;
        font-family: vazir-medium;
        font-size: 20px;
        color: $black;
        @include flex(center, flex-start);
        margin-top: 48px;
        margin-bottom: 60px;
      }
    }
  }
  .content {
    @include flex(space-between, center);
    flex-wrap: wrap;

    .box {
      width: 287px;
      height: 160px;
      @extend %radius;
      flex-direction: column;
      @include flex(flex-end, center);
      background-color: $green;

      img {
        width: 240px;
        height: 240px;
      }

      button {
        width: 155px;
        height: 48px;
        border-radius: 4px;
        background-color: $with;
        font-family: vazir-regular;
        font-size: 20px;
        @include flex(center, flex-end);
        position: relative;
        top: 10px;
        border: none;
      }
    }
  }
  .abouts {
    width: 100%;
    height: 390px;
    background-image: url(../images/picture/about.png);
    background-repeat: no-repeat;
    background-size: cover;
    @include flex(space-between, flex-start);
    color: #d9d9d9;
    .about {
      width: 600px;
      height: 294px;
      font-family: vazir-regular;
      display: flex;
      flex-direction: column;

      p {
        width: 600px;
        height: 180px;
        font-size: 20px;
        text-align: justify;
      }

      h2 {
        margin-bottom: 18px;
      }
      button {
        width: 184px;
        height: 40px;
        background-color: transparent;
        border-radius: 4px;
        border: 2px solid $with;
        color: $with;
        font-family: vazir-medium;
        font-size: 16px;
        @include flex(center, center);
        align-self: flex-end;
      }
    }
    .icons {
      width: 392px;
      height: 280px;
      @include flex(space-between, center);
      flex-direction: column;
      .icon {
        width: 392px;
        height: 136px;
        @include flex(space-between, center);

        .one {
          width: 184px;
          height: 136px;
          @include flex(center, center);
          flex-direction: column;
        }
      }
    }
  }
  .menu {
    width: 100%;
    height: 344px;
    @include flex(space-between, center);
    flex-wrap: wrap;
    .title {
      width: 100%;
      height: fit-content;
      @include flex(center, center);
      h3 {
        font-family: vazir-bold;
        font-size: 24px;
        margin-bottom: 20px;
      }
    }

    .card {
      width: 288px;
      height: 344px;
      @include flex(center, flex-start);
      flex-wrap: wrap;
      border-radius: 8px;
      border: 2px solid #d9d9d9;
    }
    img {
      width: 288px;
      height: 230px;
    }
    h4 {
      font-family: vazir-semibold;
      font-size: 20px;
    }
    p {
      font-family: vazir-medium;
      font-size: 14px;
      text-align: center;
    }
  }
  footer {
    width: 100%;
    @include flex(space-between, flex-start);
    height: 319px;

    background-image: url(../images/picture/Footer.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 160px;
    ul {
      width: 184px;
      height: 192px;

      padding: 10px;

      h3 {
        margin-bottom: 5px;
        color: $with;
        font-family: vazir-bold;
        font-size: 20px;
      }
      li {
        margin-bottom: 13px;
        color: $gray;
        font-family: vazir-medium;
        font-size: 14px;
      }
    }
    .survey {
      width: 600px;
      height: 246px;

      .survey__text {
        color: $with;
        font-family: vazir-bold;
        font-size: 20px;
        margin-bottom: 3px;
      }
      .survey__form {
        width: 600px;
        height: 163px;

        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto auto;
        padding: 4px;

        gap: 7px;

        color: $gray;
        div {
          border: 2px solid $gray;
          border-radius: 5px;
          padding: 7px;
        }

        div:nth-child(1) {
          grid-row-start: 1;
          grid-row-end: 2;
          grid-column-start: 1;
          grid-column-end: 2;
        }
        div:nth-child(2) {
          grid-row-start: 2;
          grid-row-end: 3;
          grid-column-start: 1;
          grid-column-end: 2;
        }
        div:nth-child(3) {
          grid-row-start: 3;
          grid-row-end: 4;
          grid-column-start: 1;
          grid-column-end: 2;
        }
        div:nth-child(4) {
          grid-row-start: 1;
          grid-row-end: 4;
          grid-column-start: 2;
          grid-column-end: 3;
        }
      }
      .survey__button {
        width: 183px;
        height: 40px;
        border-radius: 4px;
        border: 2px solid $gray;
        color: $with;
        font-family: vazir-medium;
        font-size: 14px;
        margin-right: 68.4%;
        margin-top: 15px;
        text-align: center;
        padding-top: 5px;
      }
    }
  }
}
// body{
//   main .main__branch {
//     .hero {
//       header {
//         nav {
//           width: 100%;
//           height: 33px;
  
//           @include flex(space-between, center);
//           .shop {
//             margin-right: 166px;
//           }
  
//           ul {
//             width: 100%;
//             height: 33px;
//             @include flex(space-between, center);
//             gap: 20px;
//             li {
//               @include flex(flex-start, center);
  
//               a {
//                 font-family: vazir-bold;
//                 color: $gray;
//               }
//             }
//           }
//         }
//         .slide {
//           width: 100%;
//           height: 336px;
//           @include flex(center, center);
//           flex-wrap: wrap;
//           font-family: vazir-bold;
//           background-image: url(../images/picture/Slider-branch.png);
//           background-repeat: no-repeat;
//           background-size: cover;
//           h1 {
//             width: 100%;
//             color: $with;
//             font-size: 40px;
//             margin-top: 70px;
//             @include flex(center, flex-start);
//           }
//           button {
//             width: 180px;
//             height: 40px;
//             @extend %radius;
//             color: $with;
//             background-color: $green;
//             z-index: 2;
//             font-family: vazir-medium;
//             font-size: 15px;
//             border: none;
//           }
//         }
//       }
//       .card-list {
//         width: 100%;
//         height: 417px;
//         @include flex(space-between, center);
//         background-color: blueviolet;
  
//         .card {
//           width: 288px;
//           height: 417px;
//           border: 2px solid $gray;
//           @extend %radius;
//           @include flex(center, flex-start);
//           flex-direction: column;
//           background-color: aqua;
  
//           img {
//             width: 288px;
//             height: 240px;
//             background-color: aqua;
//           }
//           h3 {
//             font-family: vazir-semibold;
//             font-size: 20px;
//             color: $black;
//             display: flex;
//           }
//         }
//       }
//     }
//   }
  
// }
