* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

@font-face {
  font-family: vazir-bold;
  src: url(../font/Vazirmatn-Bold.woff2);
}
@font-face {
  font-family: vazir-semibold;
  src: url(../font/Vazirmatn-SemiBold.woff2);
}
@font-face {
  font-family: vazir-medium;
  src: url(../font/Vazirmatn-Medium.woff2);
}
@font-face {
  font-family: vazir-thin;
  src: url(../font/Vazirmatn-Thin.woff2);
}
@font-face {
  font-family: vazir-regular;
  src: url(../font/Vazirmatn-Regular.woff2);
}
.container {
  padding: 45px 108px;
}

body .content .box, body main .hero header .slide button {
  border-radius: 8px;
}

body {
  font-family: vazir-medium;
  direction: rtl;
}
body main .hero header nav {
  width: 100%;
  height: 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main .hero header nav .shop {
  margin-right: 166px;
}
body main .hero header nav ul {
  width: 100%;
  height: 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
body main .hero header nav ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
body main .hero header nav ul li a {
  font-family: vazir-bold;
  color: #717171;
}
body main .hero header .slide {
  width: 100%;
  height: 336px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: vazir-bold;
  background-image: url(../images/picture/Slider.png);
  background-repeat: no-repeat;
  background-size: cover;
}
body main .hero header .slide h1 {
  width: 100%;
  color: #e5f2e9;
  font-size: 40px;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
body main .hero header .slide button {
  width: 180px;
  height: 40px;
  color: #e5f2e9;
  background-color: #417f56;
  z-index: 2;
  font-family: vazir-medium;
  font-size: 15px;
  border: none;
}
body main .hero h3 {
  width: 100%;
  height: fit-content;
  font-family: vazir-medium;
  font-size: 20px;
  color: #353535;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 48px;
  margin-bottom: 60px;
}
body .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
body .content .box {
  width: 287px;
  height: 160px;
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #417f56;
}
body .content .box img {
  width: 240px;
  height: 240px;
}
body .content .box button {
  width: 155px;
  height: 48px;
  border-radius: 4px;
  background-color: #e5f2e9;
  font-family: vazir-regular;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  top: 10px;
  border: none;
}
body .abouts {
  width: 100%;
  height: 390px;
  background-image: url(../images/picture/about.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #d9d9d9;
}
body .abouts .about {
  width: 600px;
  height: 294px;
  font-family: vazir-regular;
  display: flex;
  flex-direction: column;
}
body .abouts .about p {
  width: 600px;
  height: 180px;
  font-size: 20px;
  text-align: justify;
}
body .abouts .about h2 {
  margin-bottom: 18px;
}
body .abouts .about button {
  width: 184px;
  height: 40px;
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid #e5f2e9;
  color: #e5f2e9;
  font-family: vazir-medium;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
}
body .abouts .icons {
  width: 392px;
  height: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
body .abouts .icons .icon {
  width: 392px;
  height: 136px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .abouts .icons .icon .one {
  width: 184px;
  height: 136px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .menu {
  width: 100%;
  height: 344px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
body .menu .title {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .menu .title h3 {
  font-family: vazir-bold;
  font-size: 24px;
  margin-bottom: 20px;
}
body .menu .card {
  width: 288px;
  height: 344px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  border-radius: 8px;
  border: 2px solid #d9d9d9;
}
body .menu img {
  width: 288px;
  height: 230px;
}
body .menu h4 {
  font-family: vazir-semibold;
  font-size: 20px;
}
body .menu p {
  font-family: vazir-medium;
  font-size: 14px;
  text-align: center;
}
body footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 319px;
  background-image: url(../images/picture/Footer.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 160px;
}
body footer ul {
  width: 184px;
  height: 192px;
  padding: 10px;
}
body footer ul h3 {
  margin-bottom: 5px;
  color: #e5f2e9;
  font-family: vazir-bold;
  font-size: 20px;
}
body footer ul li {
  margin-bottom: 13px;
  color: #717171;
  font-family: vazir-medium;
  font-size: 14px;
}
body footer .survey {
  width: 600px;
  height: 246px;
}
body footer .survey .survey__text {
  color: #e5f2e9;
  font-family: vazir-bold;
  font-size: 20px;
  margin-bottom: 3px;
}
body footer .survey .survey__form {
  width: 600px;
  height: 163px;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto;
  padding: 4px;
  gap: 7px;
  color: #717171;
}
body footer .survey .survey__form div {
  border: 2px solid #717171;
  border-radius: 5px;
  padding: 7px;
}
body footer .survey .survey__form div:nth-child(1) {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}
body footer .survey .survey__form div:nth-child(2) {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}
body footer .survey .survey__form div:nth-child(3) {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}
body footer .survey .survey__form div:nth-child(4) {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
}
body footer .survey .survey__button {
  width: 183px;
  height: 40px;
  border-radius: 4px;
  border: 2px solid #717171;
  color: #e5f2e9;
  font-family: vazir-medium;
  font-size: 14px;
  margin-right: 68.4%;
  margin-top: 15px;
  text-align: center;
  padding-top: 5px;
}

/*# sourceMappingURL=style.css.map */
